
@import "../css/mixinsandfunctions.scss";
.button-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
   
}


.box-image-methodologie{
    width: 100%;
  
    
  @include media(tablet) {
    width:600px;
}
}

.spray{
  color:red;
}




// .dropdown {
//   position: relative;
// }