@import "../css/mixinsandfunctions.scss";



.box-info-bordered {
    box-shadow: 3px 3px 7px 2px #4054b2;
    padding: 10px;
    display: grid;
    grid-auto-columns: auto;
    justify-content: center;
    align-content: center;
    width: 100%;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
  }
  @include media(desktop) {
    .box-info {
      // width: 900px;
      place-self: center;
    }
  }
  

  .grid-container-mission{
    display: grid;
    gap:20px;
    grid-template-columns: 1fr;
  @include media(tablet) {

    grid-template-columns: repeat(2,1fr);
    
  }
}
.grid-container-mission .box-image >img{
  object-fit: cover;
  width:100%;
  // background-size: cover;
}

.grid-container-mission  .box-image-mission:nth-child(4){
  grid-row:3/4;
}

.grid-container-mission  .box-image-mission:nth-child(8){
  grid-row:7/8;
}


.grid-container-mission  .box-image-mission:nth-child(8){
  @include media(tablet) {

  grid-row:4/5;
  grid-column: 2;
}
}

