@import "../css/mixinsandfunctions.scss";



.box-info-bordered {
    box-shadow: 3px 3px 7px 2px #4054b2;
    padding: 10px;
    display: grid;
    grid-auto-columns: auto;
    justify-content: center;
    align-content: center;
    width: 100%;
    border-radius: 10px;
  }
  @include media(desktop) {
    .box-info {
      // width: 900px;
      place-self: center;
    }
  }
  

  .grid-container-mission{
    display: grid;
    gap:20px;
    grid-template-columns: 1fr;
  @include media(tablet) {

    grid-template-columns: repeat(2,1fr);
    
  }
}