@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "../css/mixinsandfunctions.scss";
// @import "../css/variables.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fcfcfc;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header {
  box-shadow: 10px 5px 5px grey;
}

.navbar {
  height: 70px;
  //   background-color: #fef7e5;
  background: linear-gradient(85deg, #352361 1%, rgb(64, 84, 178) 55%);

  width: 100vw;
  position: fixed;
}

.logo-1 {
  width: 17%;
  height: 60px;
  @include media(tablet) {
    // border-radius: 25px;
    // height: 140px;
    width: 7%;
  }
  @include media(laptop-desktop) {
    // border-radius: 25px;
    // height: 140px;
    width: 6%;
  }
  // padding-top: 10px;
}

.menu-icon {
  display: none;
}

// .nav-elements {
// }

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  //   color: #2f234f;
  color: white;
  text-decoration: none;
}

.nav-elements ul a.active {
  //   color: #574c4c;
  color: white;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  //   background-color: #574c4c;
  background-color: #86b98b;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .nav-elements ul li {
    margin-right: 30px;
    padding-left: 10px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    left: 0;
    height: 0rem;
    top: 84px;
    background: linear-gradient(85deg, #352361 1%, rgb(64, 84, 178) 55%);
    height: 100vh;
    width: 0;

    // height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 100;
    position: fixed;
  }

  .nav-elements.active {
    width: 200px;
    opacity: 0.95;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

// .dropdown {
//   position: relative;
// }

.menu {
  //   position: absolute;

  //   list-style-type: none;
  //   margin: 5px 0;
  //   //   padding: 0;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  //   display: block;
  position: absolute;
}

.menu > li {
  //   margin: 0;
  //   color: red;
  background-color: red;
  width: 100%;
  //   padding: 0;
  //   color: white;
  //   position: absolute;
  //   //   background-color: lightgray;

  //   //   background-color: white;
}

.menu > li:hover {
  //   background-color: lightgray;
}

// @media (max-width: 600px) {
//     .
// }

// // .menu > li {
// //   width: 100%;
// //   height: 100%;
// //   text-align: left;

// //   background: none;
// //   color: inherit;
// //   border: none;
// //   padding: 5px;
// //   margin: 0;
// //   font: inherit;
// //   cursor: pointer;
// // }

// // .drop {
// //   color: white;
// //   list-style: none;
// //   display: none;
// //   //   display: flex;
// //   //   position: relative;
// //   //   position: absolute;
// // }

// // .menu {
// //   display: block;
// // }

// // .drop {
// // .drop.active {
// //   //   width: 206px;
// //   height: 80px;
// //   opacity: 0.95;
// //   display: flex;
// // }

// //   //   display: block;
// //   //   position: relative;
// //   font-size: 16px;
// //   font-weight: 400;
// //   //   color: #2f234f;
// //   color: white;
// //   text-decoration: none;
// //   //   color: #574c4c;
// //   color: white;
// //   font-weight: 500;
// //   //   position: relative;
// //   position: sticky;
// //   height: 80px;
// // }

// // .nav-elements ul li:last-child {
// //   color: red;
// //   display: flex;
// // }

// // .drop {
// //   width: 100%;
// //   height: 100%;
// //   text-align: left;

// //   background: none;
// //   color: inherit;
// //   border: none;
// //   padding: 5px;
// //   margin: 0;
// //   font: inherit;
// //   cursor: pointer;
// // }
